{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<body>
    <!--Botão de Login-->
    <!--Botão com o nome 'Minha Biblioteca'-->

    <div class="button_index">
        <a href="http://127.0.0.1:8000/books/livros/create">
            <img src=" {% static 'image/add_books.png' %} " height ="61" width="226"/>
        </a>
         
        <a href="http://127.0.0.1:8000/books/livros/list">
            <img src=" {% static 'image/list_books.png' %} " height ="61" width="197"/>
        </a>
    </div>

</body>
{% endblock %}