/* 
    background-color: #1629b4;
*/

/* base_gerenic.html */
.title_fix{
    background-color: #000a66;
    padding: 10px 10px 10px 19px;
    margin-bottom: 8px;
}

.btlist_header{
    display: inline;
    position: relative;
    bottom: 5%;
    left: 76%;
 }

/*index.html*/
.button_index{/*top right bottom left*/
    padding: 20% 20% 10% 35%;
}

/* livros_fomrs.html */
.add_livros{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.table_form{
    display: block;
    position: relative;
    left: 3%;
    width: 10%;
    height: 60%;
    margin-bottom: 1%;
}
.btsubmit_form{
    display: inline-block;
    position: relative;
    left: 3%;
}

/*livros_list.html*/
.titulo_list{
    display: flex;
    justify-content: flex-start;
    line-height: 29px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    color: #050B33;
}
.img_list{
    position: relative;
    margin-top: 4px;
    margin-right: 3px;
}

/*livros_detail.html*/
.all_detail{
    display: flex;
    justify-content: flex-start;
    line-height: 23px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.img_detail{
    position: relative;
    margin-top: 4px;
    margin-right: 3px;  
}
.buttons_detail{
    margin-top: 9px;
    margin-left: 60%;

}