{% extends "base_generic.html" %}
{% load static %}

{% block header %}
<div class="btlist_header">
    <a href="http://127.0.0.1:8000/books/livros/list">
        <img src=" {% static 'image/list_books.png' %} " height ="48" width="120"/>
    </a>
</div>
{% endblock %}

{% block content %}
    
<p>Tem Certeza que quer deletar o Livro: <strong>{{ livros.titulo }}?</strong></p>

<form action="" method="POST">
    {% csrf_token %}

    <input type="image" src=" {% static 'image/confirmed_delete.png' %} " style="max-height:25px"/>

    <a href="http://127.0.0.1:8000/books/livros/list">
        <img src=" {% static 'image/cancel_delete.png' %} " style="max-height:25px"/>
    </a>

</form>
    
{% endblock %}