{% extends "base_generic.html" %}
{% load static %}

{% block header %}
<div class="btlist_header">
    <a href="http://127.0.0.1:8000/books/livros/list">
        <img src=" {% static 'image/list_books.png' %} " height ="48" width="120"/>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="add_livros">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="table_form">
            <tabel>
                {{form.as_table}}
            </table>
        </div>
        <div class="btsubmit_form">
            <input type="image" src=" {% static 'image/submit_books.png' %} " height ="31" width="99">
        </div>    
    </form> 
</div>
{% endblock %}