{% extends "base_generic.html" %}

{% block content %}
    {% for livros in livros_list %}
        <div class="titulo_list">

            <a href="http://127.0.0.1:8000/books/livros/detail/{{livros.cod_book}}">
                <p>{{ livros.titulo}} -/- {{ livros.autor }}.</p>
            </a>

            <a href="http://127.0.0.1:8000/books/livros/update/{{livros.cod_book}}">
                <button>Att seu Livro</button>
            </a>

        </div>
        
        <div class="resenha_list">
             <p>{{ livros.resenha}}</p>
        </div>
           <!--{{ livros.body|linebreaks|truncatewords:10 }}-->      
    {% endfor %}

    <a href="http://127.0.0.1:8000/books/livros/create">
        <button>Adicione seu Livro</button>
    </a>
    <a href="http://127.0.0.1:8000/books/">
        <button>Home</button>
    </a>

{% endblock %}