{% extends "base_generic.html" %}
{% load static %}

{% block header %}
<div class="btlist_header">
    <a href="http://127.0.0.1:8000/books/livros/list">
        <img src=" {% static 'image/list_books.png' %} " height ="48" width="120"/>
    </a>
</div>
{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        Livros {{livros.titulo}} por {{livros.autor}} {{livros.editora}}
    </p>
    {{ livros.body|linebreaks}}

    <a href="http://127.0.0.1:8000/books/livros/update/{{livros.cod_book}}">
        <button>Att seu Livro</button>
    </a>

    <a href="http://127.0.0.1:8000/books/livros/delete/{{livros.cod_book}}">
        <button>Delete</button>
    </a>
{% endblock %}