{% extends "base_generic.html" %}

{% block title %}MyLibrary{% endblock %}

{% block content %}
    {% for livros in livros_list %}
        <article>
            <h2>
                <a href="{{ livros.get_absolute_url }}">
                    {{ livros.titulo}}
                </a>
            </h2>
            <p class="date">
                {{ livros.titulo }} por {{ livros.autor }}
            </p>
            {{ livros.body|linebreaks|truncatewords:10 }}
        </article>
    {% endfor %}
{% endblock %}